{sub_dirs, ["rel", "apps/ertsample"]}.

{require_otp_vsn, "R13B03|R13B04|R14"}.

{cover_enabled, true}.

{edoc_opts, [{todo, true}]}.

{xref_checks, [undefined_function_calls, locals_not_used, exports_not_used]}.

{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.

{deps, [
	{yaws, ".*", {git, "git://github.com/klacke/yaws.git", "master"}}
       ]}.
